# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compiled files and build outputs
.next/
out/
dist/

# Environment variables
.env
.env.local
.env.*.local

# OS-specific files
.DS_Store
Thumbs.db

# Vercel and deployment files
.vercel/

# IDE and editor settings
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Git-specific files
.git/
